<!DOCTYPE html>

<html lang="en">
<head>
    <title>Explore Page</title>
    <link rel="stylesheet" href="../../Asset/CSS/explore_style.css">
</head>
<body>
    <div class="container">
        <div class="top-section">
            <div class="blue-curve"></div>
            <div class="header">
                <button class="back-btn">
                    Back
                </button>
                <h1 class="title">Explore One Bank Solution With Us</h1>
            </div>
        </div>
        <div class="bottom-section">
            <div class="button-container">
                <a href="javascript:void(0)" id="login-button" class="button login-btn">Login</a>
                <a href="javascript:void(0)" id="signup-button" class="button signup-btn">Signup</a>
            </div>
        </div>
    </div>
    <script src="../../Asset/JS/explore_script.js"></script>
</body>
</html>